.booking-container {
    display: flex;
    background-color: #EDEFEE;

}

.booking-img {
    display: grid;
    width: 40%;
    overflow: hidden;
    justify-content: center;

}

.booking-img > img {
    height: 100%;


}

.booking-area {
    width: 50rem;
    display: grid;
    align-content: space-between ;
    justify-items: center;
    padding: 3rem;
    gap: 1rem;
    background-color: #EDEFEE;
}

.confirmation-message {
    text-align: center;
}

.confirmation-message > h3, p {
    margin-top: 2rem;
}
