.about-us-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    align-items: center;
    gap: 2rem;
    padding: 1em 0;
}


.about-us > h2 {
    padding: .5em 0;
}

.about-us > p {
    padding: 0.5em 0;
}

.chefs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 768px) {

    .about-us > p {
        font-size: 0.875rem;
    }
}