.hero-container {
    width: 100%;
    margin-inline: auto;
    background-color: #495E57;
}

.hero {
    width: 80%;
    max-width: 62rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 2rem 0;
    margin-bottom: 6rem;
    gap: 2rem;
}

.hero-information {
    padding: 1rem;
}

.hero-information h1 {
    color: #F4CE14;
}

.hero-information h2 {
    color: #fff;
}

.hero-information p {
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.hero-image {
    grid-column: 2;
    width: 100%;
    height: 28rem;
    object-fit: cover;
    margin-bottom: -4rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}