* {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 70rem;
  margin-inline: auto;

}

body {
  font-family: Karla, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #495E57;
}

.container {
  /* display: grid; */
  /* max-width: 70rem; */
  /* justify-content: center; */
  /* margin: 0 auto; */
  /* margin: 0 2rem 0 2rem ; */
  /* padding-inline: auto; */
}
/* .wrapper {
  padding-inline: auto;
} */

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1, h2 {
  line-height: 1;
  font-family: "Markazi Text";
  font-weight: normal;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

.primary-btn {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: 0.175rem solid #F4CE14 ;
  background-color: #F4CE14;
  color: #495E57;
  font-weight: bold;
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: #495E57;
  border-color: #F4CE14;
  color: #FFFFFF;
}