.about-us-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1em 0;
}


.about-us > h2 {
    padding: .5em 0;
}

.about-us > p {
    padding: 0.5em 0;
    white-space: normal;
}

@media (max-width: 768px) {
    .about-us-container {
        flex-wrap: wrap;
    }

    .about-us > p {
        font-size: 0.875rem;
    }
}