.about-us-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-us {
    align-content: center;
}

.about-us > h2 {
    padding: 1rem;
}

.about-us > p {
    padding: 1rem;
}

.chefs > img {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
}