.meal-card { 
    display: grid;
    grid-template-rows: 14rem 4rem auto 4rem ;
    border-radius: 1rem;
    background-color: #EDEFEE;
}

.meal-card > img {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.meal-card-heading {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 1rem;
}

.meal-card > p {
    padding: 1rem;

}

.delivery-icon {
    margin-left: 1rem;
}