.reviews-container {
    width: 100%;
    background-color: #EDEFEE;
    padding: 2rem 0;
}

.reviews {
    width: 80%;
    max-width: 62rem;
    margin: 0 auto;
}


.review {
    max-width: 70rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}