.reviews-wrapper {
    background-color: #EDEFEE;
    padding: 1rem;
}

.reviews-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}


.reviews-container > h2 {
    padding: 1rem;
}

.reviews-container > div {
    margin: 1.5rem auto;
}