
.week-specials {
    display: block;
}

.week-specials-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 1.875rem;
}

.meal-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}