.week-specials {
    padding: 1rem;
}

.week-specials-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: flex-end;
    margin-bottom: 1.875rem;
}

.meal-card-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}