.site-footer {
    background-color: #495e57;
    color: #f2f2f2
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 2em;
    align-items: start;
    padding: 50px;

}

.footer-logo {
    height: 200px;
}

.footer-site-map {
    display: grid;
    gap: 1em;
}


.list > ul > li {
    list-style: none;
    margin-bottom: 0.5em;
}

.footer-address {
    display: grid;
    gap: 1em;
}

.footer-address > address > p {
    margin-bottom: 1em;
}

.footer-address > address > p > svg {
    margin-right: 5px;
}

.footer-socials {
    display: grid;
    gap: 1em
}

.footer-socials > address > a {
    display: block;
    margin-bottom: 0.5em;
}

.footer-socials > address > a > svg {
    margin-right: 5px;
}