.navbar-container{
    display: flex;
    padding: .25rem;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.navbar-links {
    display: flex;
    list-style-type: none;
    gap: 1.5rem;
}

.link {
    padding: 0.75rem;
    text-decoration: none;
}

.link:visited {
    color: initial;
}


.link:hover {
    color: #f4ce14;
    cursor: pointer;
}

.link:active {
    color: #495E57;
}


.navbar-logo {
    max-height: 50px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 89px;
        left: 0;
        background-color: #f2f2f2;
        width: 100%;
        z-index: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links.active > li {
        padding: 0.75rem;
    }

    .hamburger {
        display: block;
    }
}